In [1]:
# Importing Required Packages

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [4]:
# Reading the 'StatisticalTest_Data.csv'
# Store it into a variable called data

data = pd.read_csv('StatisticalTest_Data.csv')
data.head()

,Name,Maths,Physics,Chemistry,Biology,ComputerScience,Bengali,English,History,Geography,Statistics,Gender
0,Aniket,37,34,24,15,48,45,15,45,45,45,M
1,Aarav,32,34,48,25,14,45,14,12,12,12,M
2,Aashi,32,34,45,40,15,23,45,46,13,46,F
3,Aayush,35,31,25,41,25,12,12,48,46,12,M
4,Aditi,26,33,45,39,48,47,14,23,48,48,F

In [5]:
# Getting the Column Names of the data set

data.columns

Index(['Name', 'Maths', 'Physics', 'Chemistry', 'Biology', 'ComputerScience',
       'Bengali', 'English', 'History', 'Geography', 'Statistics', 'Gender'],
      dtype='object')

In [6]:
# Getting the Shape of the Data Matrix data

print('Number of Rows:', data.shape[0])
print('Number of Columns:', data.shape[1])

Number of Rows: 60
Number of Columns: 12

In [8]:
# Check whether there are any missing values

data.isnull().sum()

Name               0
Maths              0
Physics            0
Chemistry          0
Biology            0
ComputerScience    0
Bengali            0
English            0
History            0
Geography          0
Statistics         0
Gender             0
dtype: int64

In [9]:
# Checking the data types of the columns

data.dtypes

Name               object
Maths               int64
Physics             int64
Chemistry           int64
Biology             int64
ComputerScience     int64
Bengali             int64
English             int64
History             int64
Geography           int64
Statistics          int64
Gender             object
dtype: object