In [1]:
# Importing Required Packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind as ttest
import os
%matplotlib inline

In [2]:
# Reading the 'StatisticalTest_Data.csv'

data = pd.read_csv('StatisticalTest_Data.csv')
data.head()

,Name,Maths,Physics,Chemistry,Biology,ComputerScience,Bengali,English,History,Geography,Statistics,Gender
0,Aniket,37,34,24,15,48,45,15,45,45,45,M
1,Aarav,32,34,48,25,14,45,14,12,12,12,M
2,Aashi,32,34,45,40,15,23,45,46,13,46,F
3,Aayush,35,31,25,41,25,12,12,48,46,12,M
4,Aditi,26,33,45,39,48,47,14,23,48,48,F

In [3]:
# Extracting Column Values of the dataframe and storing them into variables

math = data['Maths']
phy = data['Physics']
chem = data['Chemistry']
bio = data['Biology']
cs = data['ComputerScience']

In [4]:
# Extracting Column Values of the dataframe and storing them into variables

ben = data['Bengali']
eng = data['English']
his = data['History']
geo = data['Geography']
st = data['Statistics']

## Performing T test on the Scores of Different Subjects

* Here maths scores are taken as one group
* Other subjects are taken as the second group
* So, I will test the Maths score versus all other scores

### T Test and its hypothesis

* Null Hypothesis: There is no significant difference in group means
* Alternative Hypothesis: There is significant difference in group means

#### Reject the Null Hypothesis when the P value is less or equal to the significance level of 0.05

#### Performing T test - Maths Score v/s Maths Score

In [6]:
# Conducting The Test
t_statistics, p_value = ttest(math, math)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 0.0
P_Value: 1.0
No Significant Difference In Group Means

#### Performing T test - Maths Score v/s Physics Score

In [7]:
t_statistics, p_value = ttest(math, phy)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 0.4388692763774171
P_Value: 0.6615587905972973
No Significant Difference In Group Means

#### Performing T test - Maths Score v/s Chemistry Score

In [8]:
t_statistics, p_value = ttest(math, chem)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 1.2367264937172608
P_Value: 0.21864442509783422
No Significant Difference In Group Means

#### Performing T test - Maths Score v/s Biology Score

In [9]:
t_statistics, p_value = ttest(math, bio)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 2.062873700032983
P_Value: 0.04131890080398561
Significant Difference in Group Means

#### Performing T test - Maths Score v/s ComputerScience Score

In [10]:
t_statistics, p_value = ttest(math, cs)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 1.4189063478276378
P_Value: 0.15856231811387472
No Significant Difference In Group Means

#### Performing T test - Maths Score v/s Bengali Score

In [11]:
t_statistics, p_value = ttest(math, ben)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 2.411903398966919
P_Value: 0.017410471595065008
Significant Difference in Group Means

#### Performing T test - Maths Score v/s English Score

In [12]:
t_statistics, p_value = ttest(math, eng)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 1.567455750474744
P_Value: 0.11968602543170957
No Significant Difference In Group Means

#### Performing T test - Maths Score v/s History Score

In [13]:
t_statistics, p_value = ttest(math, his)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 2.4870996306952926
P_Value: 0.014276683171224266
Significant Difference in Group Means

#### Performing T test -  Maths Score v/s Geography Score

In [14]:
t_statistics, p_value = ttest(math, geo)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 2.9295235555141654
P_Value: 0.004076211151801936
Significant Difference in Group Means

#### Performing T test -  Maths Score v/s Statistics Score

In [15]:
t_statistics, p_value = ttest(math, st)
print('T_Statistics Value:', t_statistics)
print('P_Value:', p_value)

# Status of the Test
alpha = 0.05
if p_value <= alpha:
    print('Significant Difference in Group Means')
else:
    print('No Significant Difference In Group Means')

T_Statistics Value: 1.32211948716486
P_Value: 0.1886855080485125
No Significant Difference In Group Means

## Tabulating These Results of T test

* Here Maths Score is Taken as one group
* The other group various for Different Subjects
* Significance Level is 0.05
* Reject Null Hypothesis if p value is less or equal to significance level of 0.05

In [25]:
# Report of T test Considering Maths Score as a Fixed Group

sub1 = ['Mathematics','Mathematics','Mathematics','Mathematics','Mathematics','Mathematics','Mathematics',
        'Mathematics','Mathematics','Mathematics' ]

sub2 = ['Mathematics','Physics','Chemistry','Biology','ComputerScience','Bengali','English',
       'History','Geography','Statistics']

Msub1 = [np.mean(math),np.mean(math),np.mean(math),np.mean(math),np.mean(math),np.mean(math),np.mean(math),
        np.mean(math),np.mean(math),np.mean(math)]

Msub2 = [np.mean(math),np.mean(phy),np.mean(chem),np.mean(bio),np.mean(cs),np.mean(ben),np.mean(eng),
        np.mean(his),np.mean(geo),np.mean(st)]

alpha = [0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05]

pval = [1.000,0.662,0.219,0.041,0.159,0.017,0.120,0.014,0.004,0.189]

status = ['No Significant Difference','No Significant Difference','No Significant Difference','Significant Difference',
          'No Significant Difference','Significant Difference','No Significant Difference','Significant Difference',
         'Significant Difference','No Significant Difference']

# Creating Dictionary of this lists and converting them Into Data Frame

report1 = {'Sub1':sub1, 'Sub2':sub2, 'Sub1Mean':Msub1, 'Sub2Mean':Msub2, 'Alpha':alpha, 'P_Value':pval,
          'Test_Status':status} # Creating Dictionary

report1 = pd.DataFrame(report1) # Converting the Dictionary to DataFrame
report1

,Sub1,Sub2,Sub1Mean,Sub2Mean,Alpha,P_Value,Test_Status
0,Mathematics,Mathematics,33.066667,33.066667,0.05,1.000,No Significant Difference
1,Mathematics,Physics,33.066667,32.816667,0.05,0.662,No Significant Difference
2,Mathematics,Chemistry,33.066667,31.083333,0.05,0.219,No Significant Difference
3,Mathematics,Biology,33.066667,29.566667,0.05,0.041,Significant Difference
4,Mathematics,ComputerScience,33.066667,30.833333,0.05,0.159,No Significant Difference
5,Mathematics,Bengali,33.066667,29.133333,0.05,0.017,Significant Difference
6,Mathematics,English,33.066667,30.250000,0.05,0.120,No Significant Difference
7,Mathematics,History,33.066667,28.950000,0.05,0.014,Significant Difference
8,Mathematics,Geography,33.066667,28.316667,0.05,0.004,Significant Difference
9,Mathematics,Statistics,33.066667,31.000000,0.05,0.189,No Significant Difference